<div class="row behaviorhWrap" *ngIf="ycd$ | async as ycd">
  <div class="col-lg-6 col-xs-12 col-sm-5 col-md-5 form-group">
    <div  style="text-align:left;"><a routerLink="">Dashboard</a><span> ></span> Behaviors:<span>{{ycd.techName}}</span></div>
  </div>
   <div class="col-lg-6 col-xs-0 col-sm-3 col-md-3" class="ofcperiod" style="padding:7px"><span>Official Period:   </span><span>{{yc.technicianId}}</span></div>
</div>
<div class="row subnavWrap">
  <div class="col-lg-9">
    <ul class="subnav nav nav-tabs">
     <li class="active"><a href="#efficiency" data-toggle="tab">Efficiency</a></li>
     <li><a href="#utilization" data-toggle="tab" class="tab">Utilization</a></li>
     <li><a href="#productivity" data-toggle="tab" class="tab">Productivity</a></li>
     <li><a href="#quality" data-toggle="tab" class="tab">Quality</a></li>
     <li><a href="#safety" data-toggle="tab" class="tab">Safety</a></li>
     <li><a href="#attainment" data-toggle="tab" class="tab">Attainment</a></li>
     <li><a href="#aht" data-toggle="tab" class="tab">AHT</a></li>
      <li><a href="#talktime" data-toggle="tab" class="tab">Talktime</a></li>
    </ul>
  </div>
  <div class="col-lg-3" style="text-align:right">
    <input type="button" value="Dashboard" style="margin-right:4px;border-radius:5px;border:1px solid silver;"/><input type="button" value="Manage Recommendations" style="border-radius:5px;border:1px solid silver;">
  </div> 
          
  </div><hr class="divider"/>
 <div class="tab-content">
  <div id="efficiency" class="tab-pane fade in active">
    <div class="row" style="border:1px solid silver;">
      <div class="col-lg-3 col-sm-3" [ngClass]="paneval"  style="border-right:1px solid silver;position:relative" (drop)="drop($event)"  (dragover)="allowDrop($event)" id="leftcontainer"></div>
            <div class="col-lg-1 col-sm-1" style="border-right:1px solid silver;text-align:center;min-height:400px;width:2%;padding-top:14%"><i (click)='changePane($event)' [ngClass]="iconval"></i></div>
      <div class="" [ngClass]= "lftcont" (drop)="drop($event)"  (dragover)="allowDrop($event)" id="rightContainer" style="min-height:400px">
        <div draggable="true"  (dragstart)="drag($event)" id="drag1" style="width:100%; padding:7px;border:1px solid silver;margin:6px" class="row">
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
          <div class="col-lg-8 col-xs-4"><span>You Coach Technician comments to be verified before processing the request towards resolution.</span></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-print"></i></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-download"></i></div>
        </div>
        <div draggable="true" (dragstart)="drag($event)" id="drag2" style="width:100%; padding:7px;border:1px solid silver;margin:6px" class="row">
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
          <div class="col-lg-8 col-xs-4"><span>You Coach Technician comments to be verified before processing the request towards resolution.</span></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-print"></i></div>
          <div class="col-lg-1 col-xs-2"><i class="glyphicon glyphicon-download"></i></div>
        </div>
      </div>
    </div>

  </div>
  <div id="utilization" class="tab-pane fade "><p>Utilization</p></div>
  <div id="productivity" class="tab-pane fade"><p>Productivity</p></div>
  <div id="quality" class="tab-pane fade"><p>Quality</p></div>
  <div id="safety" class="tab-pane fade"><p>Safety</p></div>
  <div id="attainment" class="tab-pane fade"><p>Attainment</p></div>
  <div id="aht" class="tab-pane fade"><p>AHT</p></div>
  <div id="talktime" class="tab-pane fade"><p>Talktime</p></div>
  </div>

