<div class="container-fluid">
<div class="topnav" id="myTopnav">
 
 <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >My Dashboard <span class="arrow-up"></span></a>
  <a routerLink="reports" routerLinkActive="active">Reports<span class="arrow-up"></span></a>
  <a routerLink="recommendations" routerLinkActive="active">My Recommendations<span class="arrow-up"></span></a>
  <a routerLink="delegations" routerLinkActive="active">Delegations<span class="arrow-up"></span></a>
   <a routerLink="managementreports" routerLinkActive="active">Management Reports<span class="arrow-up"></span></a>
    <a routerLink="performancereports" routerLinkActive="active">Performance Reports<span class="arrow-up"></span></a>
    <a routerLink="comments" routerLinkActive="active">Comments<span class="arrow-up"></span></a>
 
</div>
 <router-outlet></router-outlet>
</div>
<!--<app-search [youcouchfromparent]="youcouchdata"></app-search>
<app-dashboard [ydatafromparent]="youcouchdata"></app-dashboard>
<app-reports></app-reports>-->


